<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/template}">
<head>
    <title>Home</title>
</head>
<body>
<section layout:fragment="content_body">
    <div class="row">
        <div class="col-md-12 m-b-30">
            <div class="d-block d-lg-flex flex-nowrap align-items-center">
                <div class="page-title mr-4 pr-4 border-right">
                    <h1>Dashboard</h1>
                </div>
                <div class="breadcrumb-bar align-items-center">
                    <nav>
                        <ol class="breadcrumb p-0 m-b-0">
                            <li class="breadcrumb-item">
                                <a href="#"><i class="ti ti-home"></i></a>
                            </li>
                            <li class="breadcrumb-item">
                                Dashboard
                            </li>
                            <li class="breadcrumb-item active text-primary" aria-current="page">Default</li>
                        </ol>
                    </nav>
                </div>
                <div class="ml-auto d-flex align-items-center secondary-menu text-center">
                    <span class="font-weight-bold">Status</span>
                    <a href="#" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title=""
                       data-original-title="Online">
                        <i class="fa fa-check btn btn-icon text-success" style="border-radius: 100%;"></i>
                    </a>
                    <a href="#" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title=""
                       data-original-title="Busy">
                        <i class="fa fa-check btn btn-icon text-warning" style="border-radius: 100%;"></i>
                    </a>
                    <a href="#" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title=""
                       data-original-title="Offline">
                        <i class="fa fa-check btn btn-icon text-muted" style="border-radius: 100%;"></i>
                    </a>
                    <a href="#" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title=""
                       data-original-title="Kobiton devices">
                        <i class="fa fa-cloud btn btn-icon text-blue" style="border-radius: 100%; color: #b400ff"></i>
                    </a>
                    <a href="#" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title=""
                       data-original-title="Organization devices">
                        <i class="fa fa-user btn btn-icon text-dark" style="border-radius: 100%; color: #000000"></i>
                    </a>
                    <a href="#" class="tooltip-wrapper" data-toggle="tooltip" data-placement="top" title=""
                       data-original-title="My devices">
                        <i class="fa fa-check btn btn-icon text-info" style="border-radius: 100%;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-7 m-b-30">
            <div class="card card-statistics h-100 mb-0 apexchart-tool-force-top">
                <div class="card-header d-flex justify-content-between">
                    <div class="card-heading">
                        <h4 class="card-title">Favorites Devices</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 px-0">
                            <div class="row">
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6">
                                    <div class="card card-statistics contact-contant hovereffect" style="background-color:  #dfe6f8">
                                        <div class="overlay">
                                            <p class="icon-links">
                                                <a href="#">
                                                    <span class="fe fe-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share"></span>
                                                </a>
                                                <a href="#">
                                                    <span class="fe fe-alert-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Help"></span>
                                                </a>
                                                <a href="#">
                                                    <span class="fe fe-settings" data-toggle="tooltip" data-placement="top" title="" data-original-title="Setting"></span>
                                                </a>
                                            </p>
                                        </div>
                                        <div class="card-body py-4">
                                            <div class="d-flex align-items-center">
                                                <div class="bg-img">
                                                    <img th:src="@{/assets/img/avtar/11.jpg}" alt="" class="img-fluid">
                                                </div>
                                                <div class="ml-3">
                                                    <h4 class="mb-0">Galaxy A3(2016)</h4>
                                                    <i class="ti ti-star" style="color: #ffd300"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <div class="img-icon"><i class="fa fa-mobile"></i></div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <p class="font-weight-bold text-dark">Android 6.0.1</p>
                                                    </li>
                                                </ul>
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <div class="img-icon"><i class="fa fa-phone"></i></div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <i class="fa fa-cloud btn btn-icon text-blue tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kobiton devices" style="border-radius: 100%; color: #b400ff"></i>
                                                        <i class="fa fa-check btn btn-icon text-success tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Online" style="border-radius: 100%;"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6">
                                    <div class="card card-statistics contact-contant hovereffect" style="background-color:  #dfe6f8">
                                        <div class="overlay">
                                            <p class="icon-links">
                                                <a href="#">
                                                    <span class="fe fe-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share"></span>
                                                </a>
                                                <a href="#">
                                                    <span class="fe fe-alert-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Help"></span>
                                                </a>
                                                <a href="#">
                                                    <span class="fe fe-settings" data-toggle="tooltip" data-placement="top" title="" data-original-title="Setting"></span>
                                                </a>
                                            </p>
                                        </div>
                                        <div class="card-body py-4">
                                            <div class="d-flex align-items-center">
                                                <div class="bg-img">
                                                    <img th:src="@{/assets/img/avtar/11.jpg}" alt="" class="img-fluid">
                                                </div>
                                                <div class="ml-3">
                                                    <h4 class="mb-0">Galaxy A3(2016)</h4>
                                                    <i class="ti ti-star" style="color: #ffd300"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <div class="img-icon"><i class="fa fa-mobile"></i></div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <p class="font-weight-bold text-dark">Android 6.0.1</p>
                                                    </li>
                                                </ul>
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <div class="img-icon"><i class="fa fa-phone"></i></div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <i class="fa fa-cloud btn btn-icon text-blue tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kobiton devices" style="border-radius: 100%; color: #b400ff"></i>
                                                        <i class="fa fa-check btn btn-icon text-success tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Online" style="border-radius: 100%;"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6">
                                    <div class="card card-statistics contact-contant hovereffect" style="background-color:  #dfe6f8">
                                        <div class="overlay">
                                            <p class="icon-links">
                                                <a href="#">
                                                    <span class="fe fe-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share"></span>
                                                </a>
                                                <a href="#">
                                                    <span class="fe fe-alert-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Help"></span>
                                                </a>
                                                <a href="#">
                                                    <span class="fe fe-settings" data-toggle="tooltip" data-placement="top" title="" data-original-title="Setting"></span>
                                                </a>
                                            </p>
                                        </div>
                                        <div class="card-body py-4">
                                            <div class="d-flex align-items-center">
                                                <div class="bg-img">
                                                    <img th:src="@{/assets/img/avtar/11.jpg}" alt="" class="img-fluid">
                                                </div>
                                                <div class="ml-3">
                                                    <h4 class="mb-0">Galaxy A3(2016)</h4>
                                                    <i class="ti ti-star" style="color: #ffd300"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <div class="img-icon"><i class="fa fa-mobile"></i></div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <p class="font-weight-bold text-dark">Android 6.0.1</p>
                                                    </li>
                                                </ul>
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <div class="img-icon"><i class="fa fa-phone"></i></div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <i class="fa fa-cloud btn btn-icon text-blue tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kobiton devices" style="border-radius: 100%; color: #b400ff"></i>
                                                        <i class="fa fa-check btn btn-icon text-success tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Online" style="border-radius: 100%;"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6">
                                    <div class="card card-statistics contact-contant hovereffect" style="background-color:  #dfe6f8">
                                        <div class="overlay">
                                            <p class="icon-links">
                                                <a href="#">
                                                    <span class="fe fe-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share"></span>
                                                </a>
                                                <a href="#">
                                                    <span class="fe fe-alert-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Help"></span>
                                                </a>
                                                <a href="#">
                                                    <span class="fe fe-settings" data-toggle="tooltip" data-placement="top" title="" data-original-title="Setting"></span>
                                                </a>
                                            </p>
                                        </div>
                                        <div class="card-body py-4">
                                            <div class="d-flex align-items-center">
                                                <div class="bg-img">
                                                    <img th:src="@{/assets/img/avtar/11.jpg}" alt="" class="img-fluid">
                                                </div>
                                                <div class="ml-3">
                                                    <h4 class="mb-0">Galaxy A3(2016)</h4>
                                                    <i class="ti ti-star" style="color: #ffd300"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <div class="img-icon"><i class="fa fa-mobile"></i></div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <p class="font-weight-bold text-dark">Android 6.0.1</p>
                                                    </li>
                                                </ul>
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <div class="img-icon"><i class="fa fa-phone"></i></div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <i class="fa fa-cloud btn btn-icon text-blue tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kobiton devices" style="border-radius: 100%; color: #b400ff"></i>
                                                        <i class="fa fa-check btn btn-icon text-success tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Online" style="border-radius: 100%;"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6">
                                    <div class="card card-statistics contact-contant hovereffect" style="background-color:  #dfe6f8">
                                        <div class="overlay">
                                            <p class="icon-links">
                                                <a href="#">
                                                    <span class="fe fe-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share"></span>
                                                </a>
                                                <a href="#">
                                                    <span class="fe fe-alert-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Help"></span>
                                                </a>
                                                <a href="#">
                                                    <span class="fe fe-settings" data-toggle="tooltip" data-placement="top" title="" data-original-title="Setting"></span>
                                                </a>
                                            </p>
                                        </div>
                                        <div class="card-body py-4">
                                            <div class="d-flex align-items-center">
                                                <div class="bg-img">
                                                    <img th:src="@{/assets/img/avtar/11.jpg}" alt="" class="img-fluid">
                                                </div>
                                                <div class="ml-3">
                                                    <h4 class="mb-0">Galaxy A3(2016)</h4>
                                                    <i class="ti ti-star" style="color: #ffd300"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <div class="img-icon"><i class="fa fa-mobile"></i></div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <p class="font-weight-bold text-dark">Android 6.0.1</p>
                                                    </li>
                                                </ul>
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <div class="img-icon"><i class="fa fa-phone"></i></div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <i class="fa fa-cloud btn btn-icon text-blue tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kobiton devices" style="border-radius: 100%; color: #b400ff"></i>
                                                        <i class="fa fa-check btn btn-icon text-success tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Online" style="border-radius: 100%;"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6">
                                    <div class="card card-statistics contact-contant hovereffect" style="background-color:  #dfe6f8">
                                        <div class="overlay">
                                            <p class="icon-links">
                                                <a href="#">
                                                    <span class="fe fe-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share"></span>
                                                </a>
                                                <a href="#">
                                                    <span class="fe fe-alert-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Help"></span>
                                                </a>
                                                <a href="#">
                                                    <span class="fe fe-settings" data-toggle="tooltip" data-placement="top" title="" data-original-title="Setting"></span>
                                                </a>
                                            </p>
                                        </div>
                                        <div class="card-body py-4">
                                            <div class="d-flex align-items-center">
                                                <div class="bg-img">
                                                    <img th:src="@{/assets/img/avtar/11.jpg}" alt="" class="img-fluid">
                                                </div>
                                                <div class="ml-3">
                                                    <h4 class="mb-0">Galaxy A3(2016)</h4>
                                                    <i class="ti ti-star" style="color: #ffd300"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <div class="img-icon"><i class="fa fa-mobile"></i></div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <p class="font-weight-bold text-dark">Android 6.0.1</p>
                                                    </li>
                                                </ul>
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <div class="img-icon"><i class="fa fa-phone"></i></div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <i class="fa fa-cloud btn btn-icon text-blue tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kobiton devices" style="border-radius: 100%; color: #b400ff"></i>
                                                        <i class="fa fa-check btn btn-icon text-success tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Online" style="border-radius: 100%;"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6">
                                    <div class="card card-statistics contact-contant hovereffect" style="background-color:  #dfe6f8">
                                        <div class="overlay">
                                            <p class="icon-links">
                                                <a href="#">
                                                    <span class="fe fe-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share"></span>
                                                </a>
                                                <a href="#">
                                                    <span class="fe fe-alert-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Help"></span>
                                                </a>
                                                <a href="#">
                                                    <span class="fe fe-settings" data-toggle="tooltip" data-placement="top" title="" data-original-title="Setting"></span>
                                                </a>
                                            </p>
                                        </div>
                                        <div class="card-body py-4">
                                            <div class="d-flex align-items-center">
                                                <div class="bg-img">
                                                    <img th:src="@{/assets/img/avtar/11.jpg}" alt="" class="img-fluid">
                                                </div>
                                                <div class="ml-3">
                                                    <h4 class="mb-0">Galaxy A3(2016)</h4>
                                                    <i class="ti ti-star" style="color: #ffd300"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <div class="img-icon"><i class="fa fa-mobile"></i></div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <p class="font-weight-bold text-dark">Android 6.0.1</p>
                                                    </li>
                                                </ul>
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <div class="img-icon"><i class="fa fa-phone"></i></div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <i class="fa fa-cloud btn btn-icon text-blue tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kobiton devices" style="border-radius: 100%; color: #b400ff"></i>
                                                        <i class="fa fa-check btn btn-icon text-success tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Online" style="border-radius: 100%;"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-3 col-xl-3 col-lg-3 col-sm-6">
                                    <div class="card card-statistics contact-contant hovereffect" style="background-color:  #dfe6f8">
                                        <div class="overlay">
                                            <p class="icon-links">
                                                <a href="#">
                                                    <span class="fe fe-share" data-toggle="tooltip" data-placement="top" title="" data-original-title="Share"></span>
                                                </a>
                                                <a href="#">
                                                    <span class="fe fe-alert-circle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Help"></span>
                                                </a>
                                                <a href="#">
                                                    <span class="fe fe-settings" data-toggle="tooltip" data-placement="top" title="" data-original-title="Setting"></span>
                                                </a>
                                            </p>
                                        </div>
                                        <div class="card-body py-4">
                                            <div class="d-flex align-items-center">
                                                <div class="bg-img">
                                                    <img th:src="@{/assets/img/avtar/11.jpg}" alt="" class="img-fluid">
                                                </div>
                                                <div class="ml-3">
                                                    <h4 class="mb-0">Galaxy A3(2016)</h4>
                                                    <i class="ti ti-star" style="color: #ffd300"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <div class="img-icon"><i class="fa fa-mobile"></i></div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <p class="font-weight-bold text-dark">Android 6.0.1</p>
                                                    </li>
                                                </ul>
                                                <ul class="nav">
                                                    <li class="nav-item">
                                                        <div class="img-icon"><i class="fa fa-phone"></i></div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <i class="fa fa-cloud btn btn-icon text-blue tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Kobiton devices" style="border-radius: 100%; color: #b400ff"></i>
                                                        <i class="fa fa-check btn btn-icon text-success tooltip-wrapper" data-toggle="tooltip" data-placement="top" title="" data-original-title="Online" style="border-radius: 100%;"></i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
